<div id="logreg-forms">
  {{> message}}
  <form id="signin" name="signin" method="post" action="signin" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ToDoApp Sign in</h1>
    
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
      autofocus="">
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    
    <hr class="mb-4">
    <!-- <p>Don't have an account!</p>  -->
    {{!-- <a href="#" id="forgot_pswd">Forgot password?</a> --}}

    <a href="/signup" class="btn btn-primary btn-block mb-2"> <i class="fas fa-user-plus"></i> Sign up New Account</a>
  </form>
</div>